.add-data {
  display: flex;
  flex-direction: column;
  width: calc(100%-40px);
  max-width: 1024px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.add-data hr {
  width: 100%;
  height: 1px;
  padding: 0;
  border: none;
  background-color: rgb(155, 155, 155);
}

.features {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: center;
}

.search input {
  margin-right: 5px;
}

.textInput {
  display: flex;
  flex-direction: column;
}
