.shop {
  display: grid;
  justify-content: center;
  align-items: start;
  max-width: 1024px;
  grid-template-columns: 1fr;
  gap: 10px;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
}

.laptop img {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.laptop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}
