.shop {
  display: grid;
  justify-content: center;
  align-items: start;
  max-width: 1024px;
  width: calc(100%-50px);
  grid-template-columns: 1fr;
  gap: 10px;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 1024px;
  grid-auto-rows: 1fr;
}

.items > * {
  height: 95%;
  border: 1px solid black;
}

.laptop img {
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.laptop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.laptop {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 800px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }

  .shop {
    grid-template-columns: 1fr 3fr;
  }
}

@media screen and (min-width: 1100px) {
  .items {
    grid-template-columns: repeat(3, 1fr);
  }
}
